---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Not Found" description="Page not found">
  <section
    class="bg-linnear-to-br flex min-h-[80vh] flex-col items-center justify-center from-slate-900 via-slate-800 to-slate-900 px-6 text-center"
  >
    <h1
      class="bg-linear-to-r from-blue-400 to-purple-500 bg-clip-text text-7xl font-extrabold tracking-widest text-transparent drop-shadow-lg md:text-9xl"
    >
      404
    </h1>

    <h2 class="mt-6 text-2xl font-semibold md:text-3xl">
      Oops... Page Not Found
    </h2>

    <p class="text-(-text--secondary) mt-4 max-w-md">
      The page you’re looking for doesn’t exist or may have been moved. Please
      check the URL or return to the homepage.
    </p>

    <a
      href="/"
      class="mt-8 inline-flex items-center gap-2 rounded-xl bg-(--border-darkmode) px-6 py-3 font-semibold shadow-lg shadow-blue-500/20 transition hover:scale-105"
    >
      Back To Home
    </a>
  </section>
</BaseLayout>
