---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home" description="Short Intro">
  <!-- start Bio -->
  <section class="">
    <h2 class="text-xl md:text-2xl lg:text-3xl xl:text-4xl">About Me</h2>
  </section>
  <!-- end Bio -->
</BaseLayout>
