---
import "../assets/styles/global.css";
import { Icon } from "astro-icon/components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title class="">Astro</title>
    <link
      rel="preload"
      href="/fonts/PlusJakartaSans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/PlusJakartaSans-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Merriweather.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Merriweather-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body>
    <div class="flex px-2 py-1"></div>
    <h1 class="flex p-4 text-4xl font-bold underline">
      Portofolio Under Maintenance!
    </h1>
    <p class="text-4xl italic">test jakarta sans</p>
    <Icon name="file" class="text-4xl text-red-400" />
  </body>
</html>
