---
import BaseLayout from "../layouts/BaseLayout.astro";
import { IoIosBug } from "react-icons/io";
import { IoIosRocket } from "react-icons/io";
import { FaGithub, FaInstagram, FaLinkedin } from "react-icons/fa";
import { PiHandshakeFill, PiHandWavingFill } from "react-icons/pi";
import { Image } from "astro:assets";
import heroSection from "../assets/images/hero/hero_section.png";
import "../assets/styles/animation.css";
---

<BaseLayout title="Home" description="Short Intro">
  <!-- start Hero Section -->
  <section
    class="grid min-h-[80vh] grid-cols-1 items-center gap-8 lg:grid-cols-[3fr_2fr]"
  >
    <div class="order-2 flex flex-col gap-2 lg:order-1">
      <h2
        class="fade-up text-lg font-bold text-(--text-primary) opacity-0 delay-1 md:text-2xl lg:text-3xl xl:text-4xl"
      >
        Hello! My Name <span class="text-(--accent)"> Alifi Chiganjati </span>
        <PiHandWavingFill className="relative top-full ml-1 inline-block" />
      </h2>

      <p
        class="fade-up sm:text-md text-justify text-sm opacity-0 delay-2 md:text-base lg:text-lg"
      >
        A Software Engineer who loves coding, drinking coffee, and sometimes
        chatting with bugs until we finally make peace
        <PiHandshakeFill className="relative top-0 ml-1 inline-block" />
        <IoIosBug className="relative top-0 ml-1 inline-block" />
      </p>

      <p
        class="fade-up sm:text-md text-justify text-sm text-(--text-secondary) opacity-0 delay-3 md:text-base lg:text-lg"
      >
        If you have a cool idea, an exciting project, or just want to say
        “hello” I'm always available (as long as the WiFi is secure and coffee
        is available).
      </p>
      <div class="fade-up pt-4 opacity-0 delay-4">
        <a
          href="contact"
          class="md:max-w inline-block w-full rounded-xl bg-(--border-default) px-6 py-3 text-center font-semibold opacity-90 transition hover:scale-105 hover:bg-(--border-strong) hover:opacity-100 sm:w-40 md:w-48"
        >
          Let's Chat <IoIosRocket
            className="relative top-full ml-1 inline-block"
          />
        </a>
      </div>

      <div class="fade-up mt-6 grid grid-cols-3 opacity-0 delay-4 sm:max-w-md">
        <a
          href="https://github.com/AlifiChiganjati"
          class="flex items-center justify-center transition hover:scale-110"
          target="_blank"
        >
          <FaGithub className="mx-2 text-4xl" />
        </a>
        <a
          href="https://www.linkedin.com/in/alifi-chiganjati"
          class="flex items-center justify-center transition hover:scale-110"
          target="_blank"
        >
          <FaLinkedin className="mx-2 text-4xl" />
        </a>
        <a
          href="https://www.instagram.com/alifi_chiganjati"
          class="flex items-center justify-center transition hover:scale-110"
          target="_blank"
        >
          <FaInstagram className="mx-2 text-4xl" />
        </a>
      </div>
    </div>
    <div class="relative order-1 flex items-center justify-center lg:order-2">
      <div
        class="fade-up relative order-1 flex items-center justify-center lg:order-2"
      >
        <div
          class="absolute -z-10 h-4/5 w-4/5 rounded-full bg-(--cover-hero) opacity-40 blur-[80px]"
        >
        </div>

        <div
          class="relative flex w-full justify-center mask-[linear-gradient(to_bottom,black_70%,transparent_100%)]"
        >
          <Image
            src={heroSection}
            alt="hero img"
            class="relative z-10 w-full max-w-48 object-bottom drop-shadow-2xl sm:max-w-64 md:max-w-xs lg:max-w-sm xl:max-w-md"
          />
        </div>
      </div>
    </div>
    <!-- end Hero Section -->
  </section>
</BaseLayout>
