---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="Home" description="Short Intro">
  <section>
    <h1 class="flex p-4 text-4xl font-bold underline">
      Portofolio Under Maintenance!
    </h1>
    <p class="text-4xl italic">test jakarta sans</p>
    <Icon name="file" class="text-4xl text-red-400" />
  </section>
</BaseLayout>
