---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title class="">Astro</title>
  </head>
  <body>
    <div class="px-2 flex py-1"></div>
    <h1 class="p-4 underline flex">Portofolio Under Maintenance!</h1>
  </body>
</html>
