---
import BaseLayout from "../layouts/BaseLayout.astro";
import SkeletonCard from "../components/organisms/SkeletonCard.astro";
import ProjectCard from "../components/organisms/ProjectCard.astro";
---

<BaseLayout title="projects" description="This All Best my Projects">
  <section class="mt-2 flex flex-col px-2 py-1">
    <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex items-center justify-center">
        <SkeletonCard />
        <ProjectCard />
      </div>
      <div class="flex items-center justify-center">
        <SkeletonCard />
        <ProjectCard />
      </div>
      <div class="flex items-center justify-center">
        <SkeletonCard />
        <ProjectCard />
      </div>
    </div>
  </section>
</BaseLayout>

<script is:inline>
  const skeletons = document.querySelectorAll(".skeletons");
  const projects = document.querySelectorAll(".projects");

  setTimeout(() => {
    skeletons.forEach((el) => el.classList.add("hidden"));
    projects.forEach((el) => el.classList.remove("hidden"));
  }, 700);
</script>
