---
import { IoIosArrowForward } from "react-icons/io";
---

<span class="transition-transform group-open:rotate-90">
  <IoIosArrowForward className="text-lg md:text-xl lg:text-3xl" client:load />
</span>
