---
import AccordionHeader from "../molecules/AccordionHeader.astro";
import AccordionContent from "../molecules/AccordionContent.astro";

interface Node {
  id: string;
  title: string;
  content?: string;
  children?: Node[];
}

interface Props {
  node: Node;
}

const { node } = Astro.props;
---

<div class="rounded-lg border">
  <AccordionHeader title={node.title} id={node.id} />

  <AccordionContent>
    {node.content && <p class="mb-2">{node.content}</p>}

    {
      node.children && node.children.length > 0 && (
        <div class="accordion-group ml-4 space-y-2">
          {node.children.map((child) => (
            <Astro.self node={child} />
          ))}
        </div>
      )
    }
  </AccordionContent>
</div>
