---
import "../../assets/styles/animation.css";
---

<footer
  class="fade-up flex w-full items-center justify-center gap-2 p-4 font-semibold delay-2"
>
  <span class="font-bold"> &copy; 2026 </span>
  Alifi Chiganjati
</footer>
