---
import MobileMenu from "../molecules/MobileMenu.tsx";
import NavbarMenu from "../molecules/NavbarMenu.tsx";
import DarkModeToggle from "../molecules/DarkModeToggle.tsx";
---

<header class="sticky w-full bg-(--bg-surface)">
  <div
    class="container mx-auto hidden items-center justify-between p-4 lg:flex"
  >
    <a
      href="/"
      class="font-serif text-lg font-semibold capitalize lg:text-2xl 2xl:text-3xl"
    >
      alifi chiganjati
    </a>
    <div class="flex items-center gap-4">
      <nav class="hidden lg:flex">
        <NavbarMenu client:load />
      </nav>
      <DarkModeToggle client:load />
    </div>
  </div>
  <MobileMenu client:load />
</header>
