<div
  class="projects mt-2 hidden max-w-sm overflow-hidden rounded-lg border p-4 shadow-lg xl:max-w-md"
>
  <img
    class="aspect-video w-full rounded-lg object-cover"
    src="https://placehold.co/400"
    alt="Image Project"
  />
  <div class="my-2 h-0.5 w-full bg-(--accent)"></div>

  <div class="space-y-4">
    <div class="mb-2 text-xl font-bold">The Coldest Sunset</div>
    <p class="text-justify text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
      nihil.
    </p>
  </div>
  <div class="mt-2">
    <span
      class="mr-2 mb-2 inline-block rounded-full bg-(--accent-soft) px-3 py-1 text-sm font-semibold"
      >#photography</span
    >
    <span
      class="mr-2 mb-2 inline-block rounded-full bg-(--accent-soft) px-3 py-1 text-sm font-semibold"
      >#travel</span
    >
    <span
      class="mr-2 mb-2 inline-block rounded-full bg-(--accent-soft) px-3 py-1 text-sm font-semibold"
      >#winter</span
    >
  </div>
</div>
