@import "tailwindcss";

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/PlusJakartaSans.woff2") format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/PlusJakartaSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/Merriweather.woff2") format("woff2");
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/Merriweather-Italic.woff2") format("woff2");
}

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Merriweather", serif;

  --bg-page: #f8f9fa;
  --bg-surface: #ffffff;
  --text-primary: #212529;
  --text-secondary: #495057;
  --accent: #3b82f6;
  --border-darkmode: #d1d5dc;
  --cover-hero: rgba(59, 130, 246, 0.15);
}
.dark {
  --bg-page: #0f172a;
  --bg-surface: #1e293b;
  --text-primary: #f1f5f9;
  --text-secondary: #94a3b8;
  --accent: #60a5fa;
  --border-darkmode: #090909;
  --cover-hero: rgba(96, 165, 250, 0.1);
}
@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}
