---
import "../assets/styles/global.css";
import Footer from "../components/organisms/Footer.astro";
import Header from "../components/organisms/Header.astro";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title ?? "Title"}</title>
    <script is:inline>
      const theme = localStorage.theme;
      if (
        theme === "dark" ||
        (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="flex min-h-screen flex-col bg-(--bg-page) text-(--text-primary)">
    <Header />
    <main class="container mx-auto flex-1 px-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
